<link rel="stylesheet" href="/css/home.css">
<section id="home-page">

    <!-- todo: user-profile page link-->
    <section id="user-profile">
        <div id="background-profile-photo">
        <img src="./images/logo_canva_update.png" >
        </div>
        <div id="profile-photo">
        <img src="./images/6b2cbca7a96622011c1f81856a4cdfc1.jpg" >
        </div>
        <p>chetan saini</p>
        <div id="user-profile-info">  
            <p>Friends <span>count</span></p>
            <p>Posts <span>count</span></p>
        </div>
    </section>

    <section id="posts">
        <div id="create-post">
            <p>create post</p>
        </div>

        <div id="display-posts">
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>

            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>

            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>

            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p><p>display other users post</p><p>display other users post</p><p>display other users post</p><p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>

            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p><p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>

            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            <p>display other users post</p>
            
        </div>
    </section>

    <section id="users-lists">
        <div id="friends-list">
            <p>friend list</p>
        </div>

        <div id="friend-suggestion-list">
            <p>friendsuggestion list</p>
        </div>
    </section>
</section>