<link rel="stylesheet" href="/css/signup.css">

<section id="signup-form">
  <form method="post" action="/user/login">
    <div class="form-floating">
        <input type="email" class="form-control" name="email" placeholder="Email Address" required>
        <label >Email Address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <label>Password</label>
    </div>
    <input class="btn btn-info btn-sm" type="submit" value="Log in">
  </form>
</section>

